In [2]:
import os 

os.chdir('../')

In [3]:
%pwd

'e:\\Neoron\\Programming_Practice\\Machine_Learning_Project\\Flight price prediction'

In [4]:
import pandas as pd

In [5]:
df = pd.read_csv('artifact\data\data.csv')
df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR ? DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897.0
1,Air India,1/05/2019,Kolkata,Banglore,CCU ? IXR ? BBI ? BLR,05:50,13:15,7h 25m,2 stops,No info,7662.0
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL ? LKO ? BOM ? COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882.0
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU ? NAG ? BLR,18:05,23:30,5h 25m,1 stop,No info,6218.0
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR ? NAG ? DEL,16:50,21:35,4h 45m,1 stop,No info,13302.0

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13354 entries, 0 to 13353
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13354 non-null  object
 1   Date_of_Journey  13354 non-null  object
 2   Source           13354 non-null  object
 3   Destination      13354 non-null  object
 4   Route            13353 non-null  object
 5   Dep_Time         13354 non-null  object
 6   Arrival_Time     13354 non-null  object
 7   Duration         13354 non-null  object
 8   Total_Stops      13353 non-null  object
 9   Additional_Info  13354 non-null  object
 10  Price            10683 non-null  float64
dtypes: float64(1), object(10)
memory usage: 1.1+ MB

In [8]:
import sqlite3
import csv
import os

def create_table_and_upload_data(data_path, db_name, table_name):
    # Stage 1: Connect to the SQLite database
    conn = sqlite3.connect(db_name)
    cursor = conn.cursor()
    
    # Stage 2: Create the table based on the CSV headers
    with open(data_path, 'r') as csv_file:
        reader = csv.reader(csv_file)
        headers = next(reader)  # Read the first row as the column headers

        # Create SQL to create the table
        create_table_sql = f"CREATE TABLE IF NOT EXISTS {table_name} ("
        for header in headers:
            create_table_sql += f"{header} TEXT, "  # Assuming all columns are text
        create_table_sql = create_table_sql.rstrip(', ') + ");"  # Remove the trailing comma and add closing parenthesis

        cursor.execute(create_table_sql)
    
    # Stage 3: Upload data into the table
    with open(data_path, 'r') as csv_file:
        reader = csv.reader(csv_file)
        next(reader)  # Skip the header row
        for row in reader:
            # Prepare SQL to insert data into the table
            insert_sql = f"INSERT INTO {table_name} ({', '.join(headers)}) VALUES ({', '.join(['?'] * len(row))});"
            cursor.execute(insert_sql, row)
    
    # Commit the transaction and close the connection
    conn.commit()
    conn.close()

# Example usage
data_path = 'artifact\data\data.csv'  # CSV file path
db_name = 'my_database.db'      # SQLite database name
table_name = 'my_table'         # Table name
create_table_and_upload_data(data_path, db_name, table_name)